@charset "UTF-8";
/* table, div{
    margin: auto;
    text-align: center;
    vertical-align: center;
}

table td {
    text-align: center;
    vertical-align: center;
	background: rgb(216, 216, 216);
}
table tr:nth-child(even) td {
	background: #fff;
} */